<nav class="navbar  navbar-expand-sm bg-light center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink = "/airplanes" routerLinkActive = "btn btn-info">Airplanes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "/addflight" routerLinkActive = "btn btn-info">Add Flight</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink = "/flights" routerLinkActive = "btn btn-info">Flights</a>
    </li>
  </ul>
</nav>
<h1 class="text-center text-white alert-primary m-3 p-3">WELCOME TO AIRPLANES.COM</h1>
<div class="w-75 mx-auto">
  <h1 class="text-info text-center">ABOUT OUR COMPANY</h1>
  <p >The history of flight has its origins in ancient Greek mythology and can be found in epic poetry written in Sanskrit dating more than 2000 years ago from the Indian subcontinent. The Greek legend of Icarus is one of the most famous antiquarian stories of flight.  In modern times the  Wright Brothers are considered the inventors of the modern airplane and credit their success from the work drawings, models and concept designs created by the British inventor, aerial investigator and aviator, Sir George Cayley.</p>
  <p>Aeronautical professionals and enthusiasts are drawn to the rich and fascinating development of early powered flights which began gaining momentum as a commercial and military industry at the turn of the last century.  As early as 1906, inventors such as the Frenchman Albert Dumont and Louis Blériot began testing technology such as movable tail surfaces and gear that would become the foundation for many of the standards adopted in modern civilian, commercial and military aircraft.</p>
  <p>The transformation of early aircraft quickly expanded beyond the novelty of flight and quickly grew into an world-wide industry and a race to develop aircraft that would quickly surpass the expectations of early aeronautical engineers pioneers.  Within less than a decade, the work and achievements of those “fathers of aviation” would have a profound impact in the modern era. By 1915, a machine gun was used by pilots such as the The Red Baron during World War I which was soon followed with the development of the jet engine developed by the German aircraft company, Messerschmidt AG, which produced some of the world’s most feared military flying machines in the early 1940’s.</p>
  <p> Following World War II, the technology and science of aeronautical engineering flourished both in civilian and military applications and lead to the creation of unimaginable technology making profound impacts spanning from the battlefield into the development of today’s commercial aviation industry such as Lockheed’s U-2.</p> 
  <p>Man’s fascination with flight led to a proliferation of new aircraft including experimental, rocket-powered, non-rigid, unmanned aerial vehicles, gliders, and civilian aircraft and the creation of an air transportation and services industry.  In 2020, more than 4.7 billion passengers are projected to take to the skies from airports throughout the world while a new wave of privately funded,  entrepreneurial companies spawn the next generation of flight devoted to space exploration, extra-orbital commerce, and private sector travel.</p>
  <p>We hope you enjoy our site and encourage you to reach out with any comments or suggestions by completing our short survey or contacting us.</p>
</div>
<router-outlet></router-outlet>

